Flask
Flask-Dance
requests
torch
Flask
pandas
transformers
openai
fuzzywuzzy
python-Levenshtein
sentence-transformers
nltk
rank_bm25
flask-sqlalchemy
flask-migrate
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
gunicorn
